<h1>Service Settings</h1>
<div *ngIf="ready">
    <h2>Backup Settings</h2>
    <table class="backup-settings">
        <thead>
            <tr>
                <th>Name</th>
                <th>Enable Backup</th>
                <th>Folder</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sf of sources">
                <td><span>{{sf.displayName}}</span></td>
                <td class="enabled-box"><input type="checkbox" [(ngModel)]="sf.backupEnabled" name="backupEnabled" (change)="onBackupEnabledChanged(sf)" /></td>
                <td>{{sf.fullPath}}</td>
                <td><span *ngIf="sf.type === 1" >(web site)</span></td>
            </tr>
        </tbody>
    </table>
    <div class="help-text">Editing FolderSources in appsettings.json will automatically update backup settings</div>
    <button class="reload-button" (click)="reconfigure()">Reload Settings</button>
</div>

